@charset "UTF-8";
.row {
  --bs-gutter-x: 0;
}

.background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.logo {
  height: 250px;
}

.promo_prod_container {
  height: 540px;
  width: 318px;
  position: relative;
}

.promo .btn-warning {
  margin-top: 20px;
}

.characteristic {
  margin-top: 50px;
  margin-bottom: 10px;
}

i {
  border: solid #d400ff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.composition_row {
  margin-top: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9A5044), to(#E8D9A9)) fixed;
  background: linear-gradient(#9A5044, #E8D9A9) fixed;
  width: 100%;
}

.composition_img {
  margin-top: 140px;
  margin-bottom: 90px;
}

.composition .btn-warning {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel {
  background: -webkit-gradient(linear, left top, left bottom, from(#c0f012), to(#009619)) fixed;
  background: linear-gradient(#c0f012, #009619) fixed;
  width: 100%;
}

.carousel_item {
  width: 350px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}

.carousel-caption {
  margin-top: 150px;
}

.comment p {
  margin-top: 50px;
}

.promo_2-row {
  background: -webkit-gradient(linear, left top, left bottom, from(#12d6f0), to(#000000)) fixed;
  background: linear-gradient(#12d6f0, #000000) fixed;
  width: 100%;
}

.promo_2_prod_container {
  margin-top: 200px;
  margin-bottom: 200px;
  height: 400px;
  width: 300px;
  position: relative;
}

.description {
  margin-bottom: 10px;
}

.promo_2 .btn-warning {
  margin-top: 20px;
}

.order {
  background: -webkit-gradient(linear, left top, left bottom, from(#f0e112), to(#5f41e7)) fixed;
  background: linear-gradient(#f0e112, #5f41e7) fixed;
  width: 100%;
}

.order_container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.order_prod_container {
  height: 540px;
  width: 318px;
  position: relative;
  margin-bottom: 50px;
}

.countdown {
  color: red;
  font-size: 54px;
  margin-bottom: 100px;
}

.order_prod_container h3 {
  color: red;
}

.blink {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.name input::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.name input:-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.name input::-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.name input::placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.name input:focus::-webkit-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  -webkit-transform: translate(85%, -14px);
          transform: translate(85%, -14px);
  /* Сдвигаем вверх */
}

.name input:focus:-ms-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  transform: translate(85%, -14px);
  /* Сдвигаем вверх */
}

.name input:focus::-ms-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  transform: translate(85%, -14px);
  /* Сдвигаем вверх */
}

.name input:focus::placeholder {
  font-size: 12px;
  /* Размер шрифта */
  -webkit-transform: translate(85%, -14px);
          transform: translate(85%, -14px);
  /* Сдвигаем вверх */
}

.number input::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.number input:-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.number input::-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.number input::placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Время трансформации */
  color: #aaa;
  /* Цвет подсказки */
}

.number input:focus::-webkit-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  -webkit-transform: translate(80%, -14px);
          transform: translate(80%, -14px);
  /* Сдвигаем вверх */
}

.number input:focus:-ms-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  transform: translate(80%, -14px);
  /* Сдвигаем вверх */
}

.number input:focus::-ms-input-placeholder {
  font-size: 12px;
  /* Размер шрифта */
  transform: translate(80%, -14px);
  /* Сдвигаем вверх */
}

.number input:focus::placeholder {
  font-size: 12px;
  /* Размер шрифта */
  -webkit-transform: translate(80%, -14px);
          transform: translate(80%, -14px);
  /* Сдвигаем вверх */
}
